* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
  
body {
  background-color: #f3f3f3;
  width: 100%;
}

header {
    background-color: #fff;
    width: 100%;
    height: 100px;
    float: left;
}

.wrapper {
    margin: 0 auto 0 0px;
}

.hamburger {
    display: none;
}

.logo {
    display: block;
    float: left;
    margin: 0 20px 0 10px;
    width: 100px;
    height: 100px;
}

header nav ul {
    display: block;
    margin: 0 auto;
}

header nav ul li {
    display: block;
    float: left;
    padding: 25px 25px;
    line-height: 50px;
}

header nav ul li a {
    font-size: 20px;
    color: #111;
}

header nav ul li a:hover {
    color: #ecd133;
    padding-bottom: 5px;
    border-bottom: 3px solid #111;
}

.home {
    display: block;
    margin-left: 0px;
}

.leftside {
    display: block;
    padding-left: 900px;
}

.login {
    margin: 25px 20px;
    border: none;
    background-color: #ecd133;
    color: #111;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    width: 100px;
    height: 50px;
}

.login:hover {
    background-color: #111;
    color: #ecd133;
 }

.home {
    display: block;
    padding-right: 20px;
    margin: 0 auto;
}

.main-wrapper {
    margin: 0 auto;
    width: 1200px;
}

.container {
    padding: 130px 10px 10px 10px;
}

#name {
    padding: 10px 0;
    border-bottom: 1px solid #111;
}

.image-paragraph {
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.paragraph {
    font-size: 20px;
    line-height: 50px;
}

.image {
    border: 1px solid #111;
    padding: 10px 10px;
    background-color: #fff;
    margin-left: 20px;
}

.interest {
    padding: 10px 0;
    border-bottom: 1px solid #111;
}

.list {
    padding-top: 10px;
    font-size: 16px;
    line-height: 32px;
}

.contact-me {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
.btn {
    border: none;
    background-color: #ecd133;
    color: #111;
    padding: 20px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
    width: 250px;
  }
  
.btn:hover {
     background-color: #111;
     color: #ecd133;
  }


.contact-wrapper {
    margin: 0 auto;
    width: 730px;
    padding-top: 150px;
}

.form-container {
    background-color: #fff;
    box-shadow:#111;
    border-radius: 10px;
    width: 730px;
    height: 525px;
    padding: 25px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.td-left {
    padding-left: 25px;
}
.td-mobile {
    display: none;
}
.reg-mobile {
    display: none;
}
.name {
    display: block;
    font-size: 20px;
    line-height: 50px;
    padding-bottom: 10px;
}

.input {
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #111;
    padding: 5px;
    font-size: 18px;
}

.email {
    display: block;
    font-size: 20px;
    line-height: 50px;
    padding-bottom: 10px;
}

.message {
    display: block;
    font-size: 20px;
    line-height: 50px;
    padding-bottom: 10px;
}

.textarea {
    width: 630px;
    height: 200px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #111;
    padding: 5px;
    font-size: 18px;
}

.submit {
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    background-color: #111;
    color: #fff;
}

.registration-wrapper {
    margin: 0 auto;
    width: 1055px;
    padding-top: 150px;
}

.registration-container {
    background-color: #fff;
    width: 1055px;
    height: 475px;
    padding: 25px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-wrapper {
    margin: 0 auto;
    width: 700px;
    padding-top: 150px;
}

.login-container {
    background-color: #fff;
    box-shadow:#111;
    border-radius: 10px;
    width: 700px;
    height: 350px;
    padding: 50px 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#email {
    display: block;
    width: 500px;
    height: 50px;
    border-style: none;
    border-bottom: 2px solid yellowgreen; 
    padding: 25px 0;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 18px;
}

#password {
    display: block;
    width: 500px;
    height: 50px;
    border-style: none;
    border-bottom: 2px solid yellowgreen;
    padding: 25px 0;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 18px;
}

::placeholder {
    font-size: 18px;
}

.signin {
    border: none;
    background-color: #ecd133;
    color: #111;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.signin:hover {
    background-color: #111;
    color: #ecd133;
} 

@media screen and (max-width: 1067px) {
    .registration-wrapper {
        margin: 0 auto;
        width: 600px;
        padding-top: 150px;
    }
    
    .registration-container {
        background-color: #fff;
        width: 600px;
        height: 1200px;
        padding: 50px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .reg-mobile {
        display: block;
    }

    .reg-mobile input {
        width: 500px;
    }
    .reg-desktop {
        display: none;
    }
}

@media screen and (max-width: 1315px) and (min-width: 1200px) {
    .main-wrapper {
        margin: 0 auto;
        width: 1100px;
    }
    .leftside {
        display: block;
        padding-left: 750px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {

    .main-wrapper {
        margin: 0 auto;
        width: 900px;
    }
    
    .leftside {
        display: block;
        padding-left: 550px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .main-wrapper {
        margin: 0 auto;
        width: 720px;
    }
    
    .leftside {
        display: block;
        padding-left: 350px;
    }
}

@media screen and (max-width: 767px) and (min-width: 650px) {

    .main-wrapper {
        margin: 0 auto;
        width: 500px;
    }
    
    .leftside {
        display: block;
        padding-left: 0px;
    }
    .input {
        width: 225px;
        height: 50px;
    }  
    
    .textarea {
        width: 480px;
        height: 200px;
    }

    .contact-wrapper {
        margin: 0 auto;
        width: 580px;
    }
    
    .form-container {
        width: 580px;
        height: 525px;
    }

    .registration-wrapper {
        margin: 0 auto;
        width: 550px;
        padding-top: 150px;
    }
    
    .registration-container {
        width: 550px;
        height: 1200px;
        padding: 50px 75px;
    }
    .reg-mobile {
        display: block;
    }

    .reg-mobile input {
        width: 400px;
    }
    .reg-desktop {
        display: none;
    }
    .login-wrapper {
        margin: 0 auto;
        width: 500px;
        padding-top: 150px;
    }
    
    .login-container {
        width: 500px;
        height: 350px;
        padding: 50px 75px;
    }
    #email, #password {
        width: 350px;
    }


}

@media screen and (max-width: 649px) {

    
    .hamburger {
        display: block;
    }
   
    .wrapper{
        overflow: hidden;
        position: relative;
        background-color: #fff;
    }

    .wrapper #myLinks {
        display: none;
    }

    .wrapper a {
        color: #111;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .mylinks {
        padding-top: 50px;
        height: 214px;
    }
    .mylink{
        background-color: #ecd133;
    }
    .mylink:hover, .mylink:active {
        background-color: #ffffff;
    }

      .wrapper a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      .wrapper a:hover, .wrapper a:active {
        color: #ecd133;
      }
      
      .hamburgers a {
        display: block;
        text-align: center;
        font-size: 30px;
        color: #c39a16; 
        padding: 10px 20px;
    }


    header {
        height: 50px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .image-paragraph {
        padding-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .main-wrapper {
        margin: 0 auto;
        width: 80%;
    }
    
    .leftside {
        display: block;
        padding-left: 0px;
    }

    .home, .leftside, .login {
        display: none;
    }

    #name {
        text-align: center;
    }
   
    .paragraph {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        padding-bottom: 15px;
    }

    .image {
        margin-bottom: 15px;
    }

    .btn {
        padding: 20px 20px;
        font-size: 18px;
        border-radius: 30px;
        width: 150px;
      }

    .contact-me {
        padding-top: 30px;
      }
      
    .container {
        padding-top: 75px;
    }

    .input {
        width: 235px;
        height: 50px;
    }  
    
    .textarea {
        width: 235px;
        height: 200px;
    }

    .contact-wrapper {
        margin: 0 auto;
        width: 335px;
        padding-top: 100px;
        padding-bottom: 20px;
    }
    
    .form-container {
        width: 335px;
        height: 650px;
        padding: 25px 50px;
    }

    .td-left {
        display: none;
    }
    .td-mobile {
        display: block;
    }
    .registration-wrapper {
        margin: 0 auto;
        width: 335px;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .registration-container {
        width: 335px;
        height: 1200px;
        padding: 25px 50px;
    }
    .reg-mobile {
        display: block;
    }

    .reg-mobile input {
        width: 235px;
    }
    .reg-desktop {
        display: none;
    }


    .login-wrapper {
        margin: 0 auto;
        width: 335px;
        padding-top: 100px;
        padding-bottom: 20px;
    }
    
    .login-container {
        width: 335px;
        height: 350px;
        padding: 50px;
    }
    #email, #password {
        width: 235px;
    }
}



